body {
	font-size: 18px;
}

header h1 {
	color: blue;
	font-family: "Garamond";
}

article h1 {
	color: orange;
	font-size: 18px;
}

article p:nth-child(even) {
	background-color: yellow;
}


i{
	font-family: "Courier New";
	color: green;
	font-style: normal;
}

span {
	color: blue;
}

span.destacado {
	font-weight: bold;
}

#japo {
	color: magenta;
	font-size: 24px;
}

b.destacado {
	color:red;
	font-style: italic;
}

.imagen p, footer>span {
	color: red;
	font-style: italic;
}

.imagen p {
	
	font-variant: small-caps;
}

footer a, footer a span {
	color: green;
}

a:hover, a:hover {
	color: gray;
	font-weight: bold;
}