/** 1 **/
#cabecera{
  padding:1em;
}

/** 2 y 3 **/
#menu,#lateral #noticias,#lateral #publicidad,#contenido #principal,#contenido #secundario {
  padding:.5em;
}
#menu{
  margin-bottom:.5em;
}
#pie{
  padding:.5em 0;margin-top:1em;
}

/** 4 **/
#contenido #principal .articulo{
  margin-bottom:1em;
}

/** 5 **/
#contenido #principal .articulo img{
  margin:.5em;
}

/** 6 **/
#lateral #publicidad{
  margin-top:1em;
}

/** 7 **/
#pie{
  padding:.5em 0;margin-top:1em;
}

/** 8 **/
#cabecera,#menu,#lateral,#contenido,#contenido #principal,#contenido #secundario,#pie{
  border:0px;
}

/** 9 **/
#menu {
	border-bottom: 1px solid #004C99;
}

/** 10 **/

#noticias {
	border: 1px solid #C5C5C5;
}

/** 11 **/
#publicidad {
	border: 1px dashed #CC6600;
	display: block !important;
}

/** 12 **/
#contenido #secundario {
	border: 1px solid #CC6600;
}

/** 13 **/
#pie {
	border-top: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
}