* {
	margin: 0px;
	border: 0px;
	box-sizing: border-box;
}


/* Header */
header {
	background-color: lightblue;
	display: table;
	width:  100%;
}

header > img {
	height: 100px;
	width: 200px;
	display: table-cell;
	padding: 10px;
	vertical-align: middle;
}

header h1 {
	width: 50%;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

/* Menu vertical */
nav {
	background-color: lightgrey;
	width: 100%;
}

nav > ul > li {
	display: inline-block;
	font-weight: bold;
	padding: 5px;
}

nav > ul > li:hover {
	background-color: gray;
	font-weight: bold;
	padding: 5px;
}

nav >ul > li > a {
	text-decoration: none;
	color: black;
}

/* Submenus */
li a {
	text-decoration: none;
	color: black;
}

ul li:hover {
	background-color: gray;
}

[id*="menu"], [id*="Menu"] {
	display: none;
	background-color: lightgray;
	list-style: none;
}

li:hover > #inicioSubmenu, li:hover > #cat1Submenu, li:hover > #cat2Submenu, li:hover > #contactoSubmenu {
	position: absolute;
	display: initial;
	
	margin-left: -5px;
	margin-top: 5px;
	padding-left: 0px;
}

li:hover > #inicioSubmenu > li, li:hover > #cat1Submenu > li, li:hover > #cat2Submenu > li, li:hover > #contactoSubmenu > li{
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	list-style-type: none;
}

/* SubSubmenus */

li:hover > #inicioSubSubmenu, li:hover > #categoria2SubSubmenu, li:hover > #categoria1SubSubmenu, li:hover > #contactoSubSubmenu {
	position: absolute;
	display: initial;
    /*margin-left: 77px;*/
    margin-left: 80%;
    margin-top: -27px;
	padding-left: 0px;
	width: 180px;
}

li:hover > #inicioSubSubmenu > li, li:hover > #categoria2SubSubmenu > li, li:hover > #categoria1SubSubmenu > li, li:hover > #contactoSubSubmenu > li {
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	
}

/* Menu vertical */

aside {
	float: right;
	margin-top: 20px;
	
}

aside > ul {
	background-color: lightgray;
	list-style: none;
	padding: 10px;
	font-weight: bold;
	width: 190px;
}

#eneroSubmenu, #febreroSubmenu {
    padding-left: 10px;
}

li:hover > #eneroSubmenu, li:hover > #febreroSubmenu {
	display: inherit;
}


/* Contenedor */

#container {
	width: 960px;
	margin: auto;
}

/* Articulos */
article {
	background-color: linen;
	padding: 10px;
	margin: 20px;
	border: 1px solid gray;
}

article img {
    height: 250px;
}

figcaption {
    font-style: italic;
}

time {
	color: gray;
}

article footer p{
    color: steelblue;
    font-weight: bold;
    text-align: right;
    padding: 2px;
}

/* Pie */

footer p{
	padding: 10px;
	text-align: center;
}

hr {
	border-width: 1px;
    border-style: inset;
}